---
import App from "$layouts/App.astro";
import { Icon } from "astro-icon/components";
import LogoFlow from "$components/LogoFlow.astro";
import Projects from "$components/Projects.astro";
import Timeline from "$components/Timeline.astro";
import RecentPosts from "$components/RecentPosts.astro";

const logos = [
	{ name: "Java", logo: "devicon:java" },
	{ name: "Astro", logo: "devicon:astro" },
	{ name: "Vue", logo: "devicon:vuejs" },
	{ name: "Node.js", logo: "logos:nodejs-icon" },
	{ name: "Python", logo: "devicon:python" },
	{ name: "TypeScript", logo: "devicon:typescript" },
	{ name: "Nginx", logo: "logos:nginx" },
	{ name: "MySQL", logo: "devicon:mysql" },
	{ name: "Vercel", logo: "devicon:vercel" },
	{ name: "Git", logo: "devicon:git" },
	{ name: "Arch Linux", logo: "devicon:archlinux" },
];

const projects = [
	{
		name: "ThoughtLite",
		description: "A modern Astro theme, focused on content creation.",
		link: "https://github.com/tuyuritio/astro-theme-thought-lite",
		tags: ["Astro", "Svelte"]
	}
];

const timeline = [
	{ date: "2022-09", title: "升入大学", description: "正式开始接触编程" },
	{ date: "2024-05", title: "搭建个人博客", description: "初次体验写博客的感觉。", link: "https://blog.blueke.top" },
	{ date: "2025-01", title: "探索Astro", description: "学习 Astro 框架，搭建个人博客。"},
	{ date: "2022-09", title: "升入大学", description: "正式开始接触编程" },
	{ date: "2024-05", title: "搭建个人博客", description: "初次体验写博客的感觉。", link: "https://blog.blueke.top" },
	{ date: "2025-01", title: "探索Astro", description: "学习 Astro 框架，搭建个人博客。"}
];
---

<App title="TuyuriTio">
	<div class="flex flex-col gap-20">
		<div class="relative flex items-center gap-8 max-xl:flex-wrap  mt-20">
			<div>
				<article class="flex flex-col gap-4 select-text mt-4 xl:pr-64">
					<p class="text-3xl lg:text-4xl">Hi, I'm <span class="font-semibold">Lanke</span>！</p>
					<p class="text-1xl lg:text-2xl">一个正在互联网上探索的人。</p>
				</article>
				<div class="mt-28 flex items-center gap-6 w-fit text-size-2xl">
					<a href="https://github.com/tuyuritio" target="_blank"><Icon name="lucide:github" /></a>
					<a href="https://ttio.cc" target="_blank"><Icon name="lucide:notebook-text" /></a>
					<a href="mailto:hi@ttio.cc" target="_blank"><Icon name="lucide:at-sign" /></a>
				</div>
			</div>
			
			
			<div class="flex mx-a flex-col gap-5 xl:absolute xl:right-0 xl:top-1/2 xl:-translate-y-1/2 ">
				<figure class="w-50 h-50 rd-1/2 overflow-hidden">
					<img src="https://gcore.jsdelivr.net/gh/Keduoli03/My_img@img/img/头像.jpg" alt="Avatar" draggable="false" class="inline-block w-full h-full object-cover object-c" />
				</figure>
				<span class="self-center font-bold text-xl font-serif tracking-widest">蓝珂</span>
				
			</div>
		</div>

		<div class="mt-10">
			<LogoFlow items={logos} />
		</div>

		<Projects projects={projects} />

		<div class="mt-12 grid w-full grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-10 md:gap-x-12 items-start">
		  <div class="min-w-0 w-full">
		    <RecentPosts feedUrl="https://blog.blueke.top/rss.xml" limit={4} />
		  </div>
		  <div class="min-w-0 w-full">
		    <Timeline items={timeline} />
		  </div>
		</div>
	</div>
</App>
